apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ai-services

bases:
  - ../../base

nameSuffix: -prod

commonLabels:
  environment: production

replicas:
  - name: ai-inference-service
    count: 5

patchesStrategicMerge:
  - replica-patch.yaml
  - resource-patch.yaml
