apiVersion: v1
kind: Service
metadata:
  name: {{ include "ai-inference-service.fullname" . }}
  labels:
    {{- include "ai-inference-service.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  - port: {{ .Values.service.metricsPort }}
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    {{- include "ai-inference-service.selectorLabels" . | nindent 4 }}
